<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="averageSpeed" value="59"/>
		<add key="fuelTime" value="30"/>
		<add key="ApplicationName" value="Trip Planner      v1.0.1           (written by jdkeifer@msn.com)"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
</configuration>
